[Unit]
Description=Starting minecraft server by xotriks_

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/server_script.sh start
ExecStop=/usr/lib/systemd/scripts/server_script.sh stop


[Install]
WantedBy=multi-user.target