[Unit]
Description=Minecraft server - script by xotriks_

[Service]
ExecStart=start_server --start
ExecStop=start_server --stop
ExecReload=start_server --restart

[Install]
WantedBy=multi-user.target