[Unit]
Description=Starting minecraft server by xotriks_

[Service]
Type=oneshot
ExecStart=/usr/bin/start_server start
ExecStop=/usr/bin/start_server stop
ExecReload=/usr/bin/start_server restart

[Install]
WantedBy=multi-user.target